.showMore {
  height: 50px;
  background: #2196F3;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}